{
  "APP_NAME": "NodeAuthService",
  "APP_URL": "http://localhost",
  "APP_ENV" : "test",
  "APP_PORT" : 3000,

  "DB_TYPE": "MYSQL",
  "MDB_DATABASE_CONNECT" : "mongodb://auth:auth@mongodb_server:27017/auth",
  "MYSQL_DATABASE_CONNECT": "mysql://auth:auth@mariadb_server:3306/auth",

  "JWT_SECRET" : "JWT_SECRET",
  "COOKIE_SESSION_SECRET": "COOKIE_SESSION_SECRET",

  "EMAIL_TYPE": "NORMAL",
  "EMAIL_HOST": "EMAIL_HOST",
  "EMAIL_USERNAME": "EMAIL_USERNAME",
  "EMAIL_PASSWORD": "EMAIL_PASSWORD",
  "EMAIL_PORT": EMAIL_PORT,
  "MAILGUN_SECRET": "YOUR_MAILGUN_SECRET",
  "MAILGUN_DOMAIN": "YOUR_MAILGUN_DOMAIN"
}
